<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rudolfhladik.rd.disciplines"
    android:versionCode="1"
    android:versionName="0.4.1"

    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="com.rudolfhladik.rd.disciplines.BackgroundService"
            android:exported="false"/>

        <activity
            android:name="com.rudolfhladik.rd.disciplines.MainActivity"
            android:label="@string/app_name" >


                 </activity>
        <activity android:name=".activities.ActivityRepCharCreate"
                        android:label="Character creation"
                        android:parentActivityName="com.rudolfhladik.rd.disciplines.MainActivity">

                        <meta-data
                            android:name="android.support.PARENT_ACTIVITY"
                            android:value="com.rudolfhladik.rd.disciplines.MainActivity"/>

                   </activity>
        <activity android:name=".activities.ActivityImpCharCreate"
            android:label="Character creation"
            android:parentActivityName="com.rudolfhladik.rd.disciplines.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rudolfhladik.rd.disciplines.MainActivity"/>

        </activity>
        <activity android:name=".activities.ActivityDisciplineEditor"
            android:label="Discipline editor"
            android:parentActivityName="com.rudolfhladik.rd.disciplines.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rudolfhladik.rd.disciplines.MainActivity"/>

        </activity>

        <activity android:name=".activities.ActivityGuideViewer"
            android:label="Guide viewer"
            android:theme="@style/AppTheme.TranslucentActionBar"
            android:parentActivityName="com.rudolfhladik.rd.disciplines.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rudolfhladik.rd.disciplines.MainActivity"
                />
        </activity>
        <activity android:name=".activities.LoginActivity"
                  android:label="SWTOR Disciplines"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity android:name="com.rudolfhladik.rd.disciplines.Settings"
            android:label="Settings"
            android:parentActivityName="com.rudolfhladik.rd.disciplines.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rudolfhladik.rd.disciplines.MainActivity"
                />
         </activity>
        <activity android:name="com.rudolfhladik.rd.disciplines.activities.ActivitySmall"
            android:label="Small"
            android:parentActivityName="com.rudolfhladik.rd.disciplines.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rudolfhladik.rd.disciplines.MainActivity"
                />
        </activity>
        <activity android:name="com.rudolfhladik.rd.disciplines.activities.ActivityLarge"
            android:label="Large"
            android:parentActivityName="com.rudolfhladik.rd.disciplines.activities.ActivitySmall">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rudolfhladik.rd.disciplines.activities.ActivitySmall"
                />
        </activity>
        <activity android:name="com.rudolfhladik.rd.disciplines.Help"
            android:label="Help"
            android:parentActivityName="com.rudolfhladik.rd.disciplines.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rudolfhladik.rd.disciplines.MainActivity"
                />
        </activity>


    </application>

</manifest>
